<% if tweet.favorited_by?(current_user) %>
<p>
  <%= link_to tweet.favorites.count, tweet_favorites_path(tweet), method: :delete, remote: true, class: "fas fa-heart heart_red" %>
</p>
<% else %>
<p>
  <%= link_to tweet.favorites.count, tweet_favorites_path(tweet), method: :post, remote: true, class: "fas fa-heart heart_blue" %>
</p>
<% end %>