<div class = "container">
  <section id = "sec01">
    <h2><span>My court</span></h2>
  </section>
<table class = "table table-bordered">
  <thead class = "bg-warning">
    <th>コート名</th>
    <th>詳細</th>
    <th>住所</th>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
    <tr>
      <td>
        <%= link_to map_path(bookmark.map) do %>
        <%= bookmark.map.name %>
        <%end%>
      </td>
      <td><%= bookmark.map.caption %></td>
      <td><%= bookmark.map.address %></td>
    </tr>
    <%end%>
  </tbody>
</table>
</div>








