<h2>マイページ</h2>
<%= attachment_image_tag @tweet,:image %>
<p>caption：<%= @tweet.caption %></p>
<p>投稿日時:<%= @tweet.created_at.strftime('%Y/%m/%d')%></p>
<% if @tweet.user == current_user %>
<%= link_to '削除',tweet_path(@tweet),method: :delete %>
<% end %>