<div id="mainImg">
  <%= image_tag  'main.jpg', class: "icon" %>
</div>
<section = "sec01">
<header>
  <h2><span>Site overview</span></h2>
</header>
<div class="innerS">
 ようこそBasketballCommunityへ、このサイトは、バスケットボールコート利用状況確認サービスです。現在のコートの利用状況を確認し実際に足を運ばなくても 混雑状況などを確認できるサービスです。
 またバスケットが好きな人とも繋がることができます。バスケが好きな人の助けになれれば幸いです。
</div>
</section>
<section id = "sec01">
<header>
  <h2><sapn>Callery</sapn></h2>
</header>
<ul id="gallery">
  <li><img src="assets/gallery9.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery3.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery10.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery5.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery6.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery7.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery8.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery4.jpg" width="426" height="418" alt=""></li>
</ul>
</section>

<section id = "sec01">
<header>
<h2><span>Message</span></h2>
</header>
<div class="innerS text-center">
<p>Everything negative – pressure, challenges – is all an opportunity for me to rise.</p>
<p>全ての憂鬱、重圧、挑戦＿これら全てが僕を成長に導く好機だ。</p>
<p>Kobe Bryant</p>
</div>
</section>