<div id="mainImg">
  <%= image_tag  'main.jpg', class: "icon" %>
</div>

<header>
  <h2><span>Message</span></h2>
</header>
<div class="innerS">
  である。
</div>
<section id = "sec01">
<header>
  <h2><sapn>Callery</sapn></h2>
</header>
<ul id="gallery">
  <li><img src="assets/gallery9.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery3.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery10.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery5.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery6.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery7.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery8.jpg" width="426" height="418" alt=""></li>
  <li><img src="assets/gallery4.jpg" width="426" height="418" alt=""></li>
</ul>
</section>


<header>
<h2><span>Project</span></h2>
</header>
<div class="innerS">
<p>ちずである。</p>
</div>